main {
  max-width: 700px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
  overflow: auto;
  margin: 0 auto;
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  /*width: 26px;*/ /* hide scrollbar; need the width but leaving for reference*/
  border-radius: 13px;
  background-clip: padding-box;
  border: 10px solid transparent;
}

*::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 10px;
}

.headline {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  flex-grow: 1;
  margin: 0;
  padding-top: 0.75em;
  padding-bottom: 1em;
  border-bottom: 1px solid;
}

.headline .main {
  display: flex;
  column-gap: 1em;
}

.headline h6 {
  margin-bottom: 1rem;
}

.headline p {
  margin-bottom: 0;
}

.headline .info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

footer {
  margin-left: auto;
  padding: 0.25em;
}

.info {
  display: flex;
  justify-content: space-around;
}

input,
select,
textarea {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  box-shadow: none;
}

span[role='button'] {
  padding: 0.1em 0.2em;
}

.info span {
  padding: 0.1em 0.2em;
}

.loading {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
input:not([type='checkbox']):not([type='radio']),
select,
textarea {
  padding: 0;
  margin: 0;
}

hr {
  margin-top: 6em;
}

form {
  display: flex;
  align-items: center;
  margin: 0;
}

article {
  padding-top: 1em;
}

.tweet {
  display: flex;
  align-items: center;
  padding: 0.75em 0 0.75em;
}

.tweet > div {
  text-align: center;
  width: 10%;
  flex-shrink: 0;
}

svg {
  color: var(--color);
}

.tweet svg {
  position: relative;
  z-index: -1;
}

.avatar img {
  aspect-ratio: 1/1;
  padding: 0.5rem;
  border-radius: 100%;
  max-width: 50px;
}

.twitter-modal {
  overflow: hidden;
}

.twitter-modal .buttons {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  flex-direction: flex-end;
  align-items: center;
}

.twitter-modal .close {
  float: right;
  align-self: start;
}
.twitter-modal .tweet,
.twitter-modal .link {
  font-size: 1.25rem;
}

.twitter-modal a {
  display: block;
  margin-bottom: 1rem;
}

.twitter-modal a:focus {
  background-color: transparent;
}

.twitter-card {
}

.twitter-card {
  border: 1px solid var(--color);
  border-radius: 5%;
  overflow: hidden;
  padding-bottom: 1rem;
}

.twitter-card .text {
  padding: 0.5rem;
}
.title {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--color);
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.description {
  font-size: 0.875rem;
  color: var(--color);
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
