main {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: column;
}

nav {
	flex-shrink: 0;
}

.content {
	flex-grow: 1;
	overflow: auto;
	color: rgba(0, 0, 0, 0);
	transition: color 0.3s ease;
}

.content:hover {
	color: rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
	/*width: 26px;*/ /* hide scrollbar; need the width but leaving for reference*/
	border-radius: 13px;
	background-clip: padding-box;
	border: 10px solid transparent;
}

*::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 0 10px;
}

.headline {
	display: flex;
	flex-direction: column;
	row-gap: 0.5em;
	flex-grow: 1;
	margin: 0;
	padding-top: 0.75em;
	padding-bottom: 1em;
	border-bottom: 1px solid;
}

.headline img {
	width: 30%;
}

.headline .main {
	display: flex;
	column-gap: 1em;
}

.headline h6 {
	margin-bottom: 1rem;
}

.headline p {
	margin-bottom: 0;
}

.headline .info {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

footer {
	margin-left: auto;
	padding: 0.25em;
}

.info {
	display: flex;
	justify-content: space-around;
}

input,
select,
textarea {
	border: none;
	background-color: transparent;
	resize: none;
	outline: none;
	box-shadow: none;
}

span[role="button"] {
	padding: 0.1em 0.2em 0.1em 0.2em;
}

.modal-footer {
	display: flex;
	justify-content: space-around;
	flex-direction: flex-end;
	align-items: center;
	margin-top: 2em;
}

.info span {
	padding: 0.1em 0.2em 0.1em 0.2em;
}

.loading {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
